#security {
	@include border-top();
	article:nth-child(2) {
	    max-width: 29em;
	    margin: 0 auto 7em auto;
	    text-align: center;
		padding: 0 2em;
	}
	.downloads {
		text-align: center;
		margin: 0 0;

		@include breakpoint ($bp-small) {
			.app-store {
				margin-bottom: 10em;
			}
		}
	}
	.sub-heading {
		padding: 0 2em;
	}
}