#about {
	@include border-top();
	.intro-wrap {
		@include container ($container-full);
		text-align: center;
		margin: 4em auto 4em auto;
	    padding: 0 1em;
		p {
			max-width:25em;
		    text-align: center;
		    margin: 1em auto;
		    font-size: 1.4em;
		    line-height: 1.5em;
		    font-style: italic;
		}
	} 
	.intro-summary {
	    max-width: 50em;
	    margin: 0 auto;
	    padding: 0 1em;
	}

	.management {
		.heading-wrap {
			background: $col-grey-f;
			padding:  4em 0;
		}
		.management-wrap {
			background: $col-dark-blue-2;
			padding:0;
			margin: 0 auto;
			ul {
				margin: 0 auto;
				padding: 0;
				text-align: center;
				@include container (80em);
				line-height: 13px;
				display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
				display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
				display: -ms-flexbox;      /* TWEENER - IE 10 */
				display: -webkit-flex;     /* NEW - Chrome */
				display: flex;  
				flex-wrap: wrap;
				li {
					overflow: hidden;
					display: inline-block;
					width: 100%;
					background: $col-black;
					height: 100%;
					font-size: 1.5em;
					font-size: 7vw;
					@include breakpoint ($bp-small) {
						width: 50%;
						font-size: 1.3em;
						font-size: 4vw;
					}
					@include breakpoint ($bp-med) {
						width: 33%;
						font-size: 2vw;
					}
					@include breakpoint ($bp-large) {
						width: 25%;
						font-size: 1em;
					}
					@include breakpoint ($bp-xl) {
						width: 25%;
						font-size: 1.3em;
					}
					.img {
						margin: 0;
						padding: 0;
						display: inline-block; /* change the default display type to inline-block */
    					overflow: hidden;      /* hide the overflow */
						position: relative;
						z-index: 1;
						img {	
							width: 100%;
							height: 100%;
						    -webkit-transition: all 0.9s ease;
						    -moz-transition: all 0.9s ease;
						    -o-transition: all 0.9s ease;
						    transition: all 0.9s ease;
						    opacity: .3;
						    @include breakpoint ($bp-large) {
						    	opacity: 1;
						    }
						}
					}
					.member-title {
						text-align: left;
						padding:0 1em;
						max-width: 10em;
						display: block;
						position: absolute;
						color: $col-white;
						margin-top: 8em;
						vertical-align: bottom;
						opacity: 1;
						z-index: 9999;
						font-size: .8em;
						h3 {
							font: 300 1.4em/1.2em $font-base-family;
							text-transform: none;
							margin: 2em 0 .5em 0;
							color: $col-white;
						}
						@include breakpoint ($bp-small) {
							font-size: .8em;
							margin-top: 6em;
						}
						@include breakpoint ($bp-med) {
							margin-top: 4em;
							font-size: 1em;
						}
						@include breakpoint ($bp-large) {
							display: none;
							margin-top: 0em;
							font-size: 1em;
						}	
						h3::before {
						    content: '';
						    display: block;
						    position: absolute;
						    width: 2em;
						    margin-top: -.5em;
						    padding-top: 1em;
						    border-top: 1px solid $col-brand-1;
						}
						h4 {
							color: $col-white;
							font-weight: 300;
							margin: 0 0 2em;
							text-align: left;
							line-height: 1.3em;
						}
						.read-more {
							text-align: left;
							a {
								font-size: .9em;
								margin: 0;
							}
						}
					}
					&:hover {
						img {
						    transform:scale(1.035);
						    -ms-transform:scale(1.035); /* IE 9 */
						    -moz-transform:scale(1.035); /* Firefox */
						    -webkit-transform:scale(1.035); /* Safari and Chrome */
						    -o-transform:scale(1.035); /* Opera */
						    -webkit-transition: transform 1.05s ease-in-out;
						    -moz-transition:transform 1.05s ease-in-out;
						    -ms-transition:transform 1.05s ease-in-out;
						    -webkit-transition: transform 1.05s ease-out;
						    -moz-transition:transform 1.05s ease-out;
						    -ms-transition:transform 1.05s ease-out;
						}
						:first-child { 
							display: block;
						    z-index: 10;
						}
						:nth-child(2) {
							img {
							    -webkit-transition: all 0.5s ease;
							    -moz-transition: all 0.5s ease;
							    -o-transition: all 0.5s ease;
							    transition: all 0.5s ease;
							    opacity: .3;
							}
						}
					}
				}
			}
		}
	}
	.team {
		text-align: center;
		.wrap {
			@include container ($container-full);
			margin: 4em auto 3em auto;
			@include breakpoint ($bp-med) {
				margin: 7em auto;
			}
			p {
				margin: 0;
				font-size: .7em;
				    line-height: 1.4em;
				    margin: .6em auto;
			}
			ul {
				max-width: 55em;
			    margin: 0 auto;
			}
			li {
				display: inline-block;
				margin: 2em;
				text-align: center;
				max-width: 8em;
				vertical-align: top;
			}
		}
	}
	h2 {
		font-size: 3em;
	}
	h5 {
		margin:.3em 0 0 0;
	}
	.team {
		img {
			border-radius: 50%;
			width: 100%;
		}
	}



	.board-section {
		width: 100%;
		margin: 0 auto;
		text-align: center;
		display: block;
		.section-wrapper {
			background:$col-grey-f;
		}
		.board-members { 
			margin: 5em 0; 
			@include container ($container-med);
			@include breakpoint ($bp-med) {
				@include container ($container-med);
			}
			@include breakpoint ($bp-large) {
				@include container ($container-full);
			}
			.board-member {
	    		display: block;	
	    		vertical-align: top;
			    width: 100%;
			    clear: both;
	    		@include breakpoint ($bp-large) {
			        display: inline-block;
			        width: 47%;
				}
				.board-wrap {
					margin: .5em;
				}
				.pic {
					@include breakpoint ($bp-small) {
						float: left;
						shape-outside: circle(80px at 41.45% 30.5%);
						margin: 0 2em 3em 0;
					}
					@include breakpoint ($bp-large) {
						    shape-outside:circle(91px at 42.65% 35.8%);
					}
					img {
						  border-radius: 50%;
						  max-width: 8em;
					}
				}
				ul {   
					vertical-align: top;
					text-align: center;
					padding: 1em 1em;
					margin: 0 auto;
					@include breakpoint ($bp-small) {
						text-align: left;
					}
					@include breakpoint ($bp-large) {
						margin: 0 0 2em 1em;
					}
					li {
						vertical-align: top;
						font-size: .8em;
					    margin-top: .4em;
					    line-height: 1.4em;
					    margin-left: 2em;
						h5 {
							font-size: 1.3em;
    						margin: 0 0 1em 0;
						}
						&.heading {
							list-style: none;
							margin-top:0;
						}
						@include breakpoint ($bp-large) {
					    	font-size: .85em;
					    }
					}
				}
			}
		}
	}
}



