#faq {
	@include border-top();
	article {
		@include container ($container-full);
		padding: 0 2em;
		.questions {
			margin: 3em 0 0 0;
			text-align: left;
			h2 {
				margin: 3em 0 0 0; 
				
			}
		}
	}
}