#section-clients {
	@include border-top();
	.content {
		text-align: left;
		margin-top: 4em;
		@include container ($container-med);
		.button-wrap {
			margin: 5em auto;
			text-align: center;
		}
	}
}