// Colour definitions.

// Palette.
$col-green: #02bcad;
$col-blue-gray: #43545e;
$col-dark-blue: #263343;
$col-orange: #f5a623;
$col-teal: #03a6b1;

// Grey scale.
$col-black: #000;
$col-white: #fff;
$col-grey-1: #111;
$col-grey-2: #222;
$col-grey-3: #333;
$col-grey-4: #444;
$col-grey-5: #555;
$col-grey-6: #666;
$col-grey-7: #777;
$col-grey-8: #888;
$col-grey-9: #999;
$col-grey-a: #a2a2a2;
$col-grey-b: #bbb;
$col-grey-c: #ccc;
$col-grey-d: #ddd;
$col-grey-e: #ebebeb;
$col-grey-f: #f7f7f7;

// Brand colours.
$col-brand-1: $col-teal;

// Other colors.
$col-dark-blue-2: #1A1E23;
$col-blue-gray-dark: #677680;
$col-blue-gray-4: #49535a;
$col-blue-gray-6: #607D8B;
$col-blue-gray-a: #a8c6ca;
$col-brand-1-lighter: #0FC7D2;
$col-teal-1: #0197a9;
$col-teal-2: #006f7f;
$col-teal-3: #025864;
$col-teal-4: #0dc7d2;


// Button hover colors.
$col-green-hover: #05a79a;
$col-dark-blue-hover: #0C2D52;