// Services images

$services-decision-analysis: '../images/services-decision-analysis.jpg';
$services-insurance-reviews: '../images/services-insurance-reviews.jpg';
$services-portfolio-management: '../images/services-portfolio-management.jpg';
$services-retirement-forcasts: '../images/services-retirement-forcasts.jpg';
$services-tax-planning: '../images/services-tax-planning.jpg';
$services-wealth-transfer: '../images/services-wealth-transfer.jpg';
$services-transparent-img: '../images/services-transparent-img.gif';


//Logo
$logo: '../images/logo-icon.png';
$logo-white: '../images/logo-icon-white.png';
$logo-svg: '../images/grow-capital-logo.svg';

//background

$mountain: '../images/mountain-bg-2x.jpg';