// Font stack.
$font-base-family: 'Lato', sans-serif;

// Font size.
$font-base-size: 18px;
$font-base-size-large: 20px;

// Line height.
$font-base-lineheight: 26px;
$font-base-lineheight-large: 28px;